{{with $gop := (operationsGroupedByTag .)}}
{{range $gop}}
// {{(camelCase .Tag)}}ServerInterface represents {{.Tag}} handlers. 
type {{(camelCase .Tag)}}ServerInterface interface {
{{range .OperationDefinitions}}{{.SummaryAsComment }}
    // ({{.Method}} {{.Path}})
    {{.OperationId}}(c *gin.Context{{genParamArgs .PathParams}}{{if .RequiresParamObject}}, params {{.OperationId}}Params{{end}})
{{end}}
}
{{end}}

// ServerInterface represents all server handlers.
type ServerInterface interface {
{{range $gop}}
    {{(camelCase .Tag)}}ServerInterface
{{end}}
}
{{end}}

